ENVIRONMENT=test

LOG_LEVEL=debug
LOG_WRITE_TO_FILE=false

DB_FILE=default.db

SERVER_HOST=0.0.0.0
SERVER_PORT=80

CSRF_TOKEN=someRandomToken

FIREBASE_SECRET=firebaseSecret
FIREBASE_API_KEY=firebaseApiKey

UPLOADER_MAX_SIZE=5000
UPLOADER_AUTHENTICATE=true
UPLOADER_SUPPORTED_MIME_TYPES=*/*
UPLOADER_FOLDER=uploads

STORE_TYPE=s3
AWS_BUCKET=bucket.com
AWS_SECRET_ACCESS_KEY=accesKey
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=accessId

STATIC_PATH=static

BASE_URL=http://localhost:80
