package main

import (
	"github.com/frangdelsolar/cms/builder"
	"github.com/frangdelsolar/{{projectName}}"
)

func main() {
	engine, _ := builder.NewDefaultEngine()

	log := engine.Log
	log.Info().Msg("Builder initialized")

	svr := engine.Server

	admin := engine.Admin
	exampleApp, _ := admin.Register(&{{projectName}}.Example{}, false)
	exampleApp.RegisterValidator("title", {{projectName}}.ExampleTitleValidator)

	log.Debug().Msg("Initializing server")
	svr.Run()
}
